.page.page-ad .page-body .items-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.page.page-ad .page-body .card-body {
    display: flex;
    flex-direction: column;
}

.page.page-ad .page-body .card-body .row {
    margin-top: auto;
}

.page.page-ad .page-body .card {
    width: 200px !important;
}

.page.page-ad .page-body .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page.page-ad .page-body .no-results {
    margin: auto;
}

.page.page-ad-info {
}

.page.page-ad-rent, .page.page-ad-info {
    margin-left: 0px;
    margin-right: 0px;
    height: fit-content;
}

.page.page-ad-info .page-body .ad-info:not(:last-child) {
    margin-bottom: 15px;
}

.page.page-ad-info .page-body .ad-info div {
    font-weight: 500;
    font-size: 16px;
}
