.pagination-container nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container .page-item:not(.active) .page-link {
    color: rgb(39, 3, 13);
}

.pagination-container .page-item.active .page-link {
    background-color: rgb(46, 45, 55);
    border-color: rgb(46, 45, 55);
}


